name: Flutter Android CI

on:
  push:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Build Unversioned Files
        run: |
          echo "${{ secrets.FIREBASE_OPTIONS_BASE64 }}" | base64 --decode > lib/firebase_options.dart
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 --decode > android/app/google-services.json
          echo "${{ secrets.FIREBASE_JSON }}" | base64 --decode > firebase.json
          echo "${{ secrets.KEY_PROPERTIES }}" | base64 --decode > android/key.properties
          echo "${{ secrets.UPLOAD_KEYSTORE_JKS }}" | base64 --decode > android/app/upload-keystore.jks

      - name: Analyze code
        run: flutter analyze

      - name: Test flutter app
        run: flutter test

      - name: Build App Bundle
        run: flutter build appbundle

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: app-release.aab
          path: build\app\outputs\bundle\release\app-release.aab